
        <main id="main-content">
            <h2>Post Your Videos Here:</h2>
            <form id="Posts" action="/posts/create" method="post" enctype="multipart/form-data">

                <label for="title">Title </label>
                <input type="text" name="title" id="title" placeholder="Title for Video" required>

                 <label for="Description">Description </label>
                <input type="text" name="description" id="Description" placeholder="Description for Video" required>

                <label for="PostVideos">PostVideos</label>
                <input type="file" name="uploadVideo" id="Videos" placeholder="PostVideos" required>


                <p>Checking the box means you agree with <a href="https://fakeimg.pl/300/">Acceptable Use Policy</a></p>
               <input type= "submit" value="submit">
            </form>
        </main>
  
