
        <main id="main-content">
            <script defer src="public/js/validation.js"></script>
            <div class="container">
            <h2>Register:</h2>
            <p>Please fill the form below to create an account</p>

            <form id="RegistrationForm" action="/users/register" method="POST" enctype="application/x-www-form-urlencoded">
                <label for="username">Username</label>
                <input type="username" name="username" id="username"
                placeholder="Enter Username" class="username" required>
                <div id="UserDiv" class="Alert">

                </div>

                <label for="Email:" >Email</label>
                <input type="text" name="email" id="email"
                placeholder="Enter Email" class="Email" required>
                <div></div>

                <label for="Password:">Password</label>

                <input type="password" name="password" id="password"
                placeholder="Enter Password" class="Password" required>

                <div id="PassDiv" class="Alert"></div>

                <input type="password" name="Rpassword" id="passR"
                placeholder="Repeat Password" class="Password" required>

                <div id="RPass" class="Alert"></div>

                 <label for="AgeConsent">Checking the box confirms you are older than 13+</label>
                <input type="checkbox" name="AgeConsent" id="AgeConsent" class="Check"
                placeholder="Checking the box confirms you are older than 13+"required>

                <label for="Terms">Checking the box means you agree with <a href="https://fakeimg.pl/300/">TOS and Privacy</a> Conditions</label>
                <input type="checkbox" name="Terms_Conditions" id="Terms_Conditions" class="Check"
                placeholder="Checking the box means you agree with TOS & Privacy Conditions" required>
                <input type= "submit" value="Register" placeholder="Register" class="Submit">

            

            </form>
               
            <h4 id="message">Welcome To Form Submission Page.</h4>
        </div>
        
        </main>
